# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# For production, you should only need one host as
# fastapi serves the svelte-kit built frontend and backend from the same host and port.
# To test with CORS locally, you can set something like
# CORS_ALLOW_ORIGIN='http://localhost:5173;http://localhost:8080'
CORS_ALLOW_ORIGIN='*'

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# Custom Config
PUBLIC_WEBUI_NAME="" # Your application name.
WEBUI_ADMIN_NAME="" # Your administrators name.
WEBUI_ADMIN_EMAIL="" # Administrator's email address.
WEBUI_ADMIN_PASSWORD="" # Administrator's password.

ENABLE_FORWARD_USER_INFO_HEADERS= # passes user info to proxy
USER_AGENT="" # User agent name ex: 'MyApp/1.0'